<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= testimonial_presenter.id %>">
  <div class="large-1 small-2 columns" data-equalizer-watch="module-list">
    <%= testimonial_presenter.detail_toggle_link %>
  </div>

  <div class="large-8 small-6 columns" data-equalizer-watch="module-list">
    <%= truncate testimonial_presenter.summary, length: 80 %>
  </div>



  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= testimonial_presenter.toggle_link %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= testimonial_presenter.edit_link %>
  </div>

  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= testimonial_presenter.delete_link %>
  </div>

  <div class="row module-list-detail hide" id="index-list-<%= testimonial_presenter.id %>">
    <div class="small-12 columns module-list-summary last">
      <%= testimonial_presenter.summary %>
    </div>
  </div>
</div>
