<%= form_for(home_page_section) do |f| %>
<% if home_page_section.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(home_page_section.errors.count, "error") %> prohibited this home_page_section from being saved:</h2>

    <ul>
      <% home_page_section.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>


  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
            <div class="field">
        <%= f.label :area %><br>
        <%= f.select :area, HomePageSection::AREAS %>
      </div>
            <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, class: 'tinymce' %>
      </div>

      <% if @current_administrator.role == 'master' %>
      <div class="field">
        <%= f.label :has_gallery %><br>
        <%= f.check_box :has_gallery %>
      </div>
      <% end %>


          <% end %>

    <%= field_set_tag nil, id: 'tabs-2' do %>
            <%= f.image_field :image %>

          <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
