<%= render 'optimadmin/shared/header/main_title', title: 'Manage Home Page Sections' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Home Page Section', object: HomePageSection, path: new_home_page_section_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <!--
      <%= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
    -->
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @home_page_sections.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item 'large-3 small-8' do 'Area' end %>
    <%= list_item 'large-4 small-6' do 'Title' end %>
    <%= list_item 'large-1 small-6' do 'Gallery' end %>

    <%= list_item 'large-2 hide-for-medium-down' do 'Image' end %>

    <%= list_item { 'Edit' } %>

    <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
  </div>

  <%= render partial: 'home_page_section', collection: @home_page_sections, as: :home_page_section_presenter %>
  <%= paginate @home_page_sections %>
</div>
