<%= form_for(frequently_asked_question) do |f| %>
<% if frequently_asked_question.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(frequently_asked_question.errors.count, "error") %> prohibited this frequently_asked_question from being saved:</h2>

    <ul>
      <% frequently_asked_question.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>

            <div class="field">
        <%= f.label :question %><br>
        <%= f.text_field :question %>
      </div>
            <div class="field">
        <%= f.label :answer %><br>
        <%= f.text_area :answer, class: 'tinymce' %>
      </div>
          <% end %>


    <%= field_set_tag nil, id: 'tabs-3' do %>
            <div class="field">
        <%= f.label :display %><br>
        <%= f.check_box :display %>
      </div>
          <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
