<%= form_for(gallery_image) do |f| %>
<% if gallery_image.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(gallery_image.errors.count, "error") %> prohibited this gallery_image from being saved:</h2>

    <ul>
      <% gallery_image.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>


  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>


    <%= field_set_tag nil, id: 'tabs-2' do %>
            <%= f.image_field :image %>

          <% end %>

    <%= field_set_tag nil, id: 'tabs-3' do %>
            <div class="field">
        <%= f.label :display %><br>
        <%= f.check_box :display %>
      </div>
          <% end %>
  </div>

  <%= f.hidden_field :home_page_section_id, value: @home_page_section.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
