<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= gallery_image_presenter.id %>">

  <div class="large-7 small-8 columns" data-equalizer-watch="module-list">
    <%= gallery_image_presenter.toggle_title %>
  </div>


    <div class="large-2 hide-for-medium-down columns" data-equalizer-watch="module-list">
      <%= gallery_image_presenter.edit_image(:image, 'home_page_section_id', gallery_image_presenter.home_page_section_id) %>
    </div>


  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= gallery_image_presenter.toggle_link %>
  </div>


  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= gallery_image_presenter.edit_link %>
  </div>

  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= gallery_image_presenter.delete_link %>
  </div>

  <div class="row module-list-detail hide" id="index-list-<%= gallery_image_presenter.id %>">
    <div class="small-12 columns module-list-summary last">
      <%= gallery_image_presenter.optimadmin_summary %>
    </div>
  </div>
</div>
