<div>
  <div class="row">
    <div class="medium-3 small-12 columns text-center">
      <%= team_member_presenter.image %>

      <span class="team-member-name"><%= team_member_presenter.name %></span>

      <strong class="team-member-role"><%= team_member_presenter.role %></strong>
    </div>

    <div class="medium-9 small-12 columns">

      <div class="team-member-summary-wrap">
        <div class="team-member-summary">
          <%= image_tag 'components/testimonials/quote-open.png', alt: '', class: 'quote open' %>
          <%= image_tag 'components/testimonials/quote-close.png', alt: '', class: 'quote close' %>
          <%= image_tag 'components/testimonials/quote-tip.png', alt: '', class: 'quote tip' %>
          <%= team_member_presenter.summary %>
        </div>
      </div>
    </div>
  </div>
</div>
