<section class="<%= home_page_section_presenter.css_class %>">
  <div class="row">
    <div class="small-12 medium-5 columns">
      <h2 class="text-center"><%= home_page_section_presenter.title %></h2>

      <%= home_page_section_presenter.content %>

      <div class="text-center">
        <%= link_to 'Speak to one of our friendly team', contact_form_popout_contacts_path,
            remote: true, class: 'action-button open-sidebar',
            data: { container: '.form-popout', class: 'hide', return: 'true '}
        %>
      </div>
    </div>

    <div class="small-12 medium-7 columns team-reliance-images">
      <%= home_page_section_presenter.gallery_images(0, 4) %>
    </div>
  </div>
</section>
