<section class="<%= home_page_section_presenter.css_class %>" id="<%= home_page_section_presenter.css_class %>">
  <div class="row collapse">
    <div class="medium-3 columns section-1-left hide-for-small">
      <%= home_page_section_presenter.gallery_images(0, 3) %>
    </div>

    <div class="small-12 medium-6 columns">
      <div class="section-1-content">
        <h1>
          <%= home_page_section_presenter.title %>
        </h1>

        <%= link_to 'We are recruiting: Join our amazing team', recruitment_form_popout_contacts_path,
            remote: true, class: 'action-button open-sidebar',
            data: { container: '.form-popout', class: 'hide', return: 'true '}
        %>

        <%= link_to 'Make an appointment to see how we can provide help and support', request_appointment_form_popout_contacts_path,
            remote: true, class: 'action-button open-sidebar',
            data: { container: '.form-popout', class: 'hide', return: 'true '}
        %>
      </div>
    </div>

    <div class="medium-3 columns section-1-right hide-for-small">
      <%= home_page_section_presenter.gallery_images(3, 3) %>
    </div>
  </div>
</section>
