<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= team_member_presenter.id %>">
  
  <div class="large-7 small-8 columns" data-equalizer-watch="module-list">
    <%= team_member_presenter.toggle_title %>
  </div>


    <div class="large-2 hide-for-medium-down columns" data-equalizer-watch="module-list">
      <%= team_member_presenter.edit_image(:image) %>
    </div>


  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= team_member_presenter.toggle_link %>
  </div>


  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= team_member_presenter.edit_link %>
  </div>

  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= team_member_presenter.delete_link %>
  </div>

  <div class="row module-list-detail hide" id="index-list-<%= team_member_presenter.id %>">
    <div class="small-12 columns module-list-summary last">
      <%= team_member_presenter.summary %>
    </div>
  </div>
</div>
