<div id="map-canvas" class="google-map" data-latitude="53.846652" data-longitude="-1.633218" data-title="<%= global_site_settings['Name'] %>">
</div>

<div class="hide" id="map-info-window">
  <%= global_site_settings['Name'] %>
</div>

<footer>
  &copy; <%= global_site_settings['Name'] %>
</footer>

<%= link_to '#top', class: 'scroll-up hide', title: 'Scroll to top' do %>
  <%= image_tag 'components/icons/arrow-up.png', alt: 'Scroll to top' %>
<% end %>
