<section class="form-popout hide">
  <%= link_to '#', remote: true, class: 'form-popout-close-button toggle-class', title: 'Close', data: { container: '.form-popout', class: 'hide', return: 'false' } do %>
    <%= image_tag 'components/icons/close-button.png', alt: 'Close' %>
  <% end %>

  <div id="form-area">
    Loading...
  </div>
</section>

<header>
  <%= link_to contact_form_popout_contacts_path, remote: true, class: 'contact-form-popout-button open-sidebar', data: { container: '.form-popout', class: 'hide', return: 'true' } do %>
    <%= image_tag 'components/icons/email.png', alt: '' %>
  <% end %>

  <div class="logo left">
    <%= link_to root_url, title: global_site_settings['Name'] do %>
      <%= image_tag 'layout/header/logo.jpg', alt: global_site_settings['Name'] %>
    <% end %>
  </div>

  <div class="header-telephone right">
    Telephone: <%= telephone_link %>
  </div>

  <nav class="row">
    <div class="small-12 columns">
      <ul>
        <%= nested_menu_items(menu_items: @header_menu.menu_items) %>
      </ul>
    </div>
  </nav>
</header>
